@mixin dark-mode-header {
  color: #fff;
  font-size: 2rem;
}

@mixin dark-mode-body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  min-height: 100vh;
  color: $text-color;
  align-items: center;
}

@mixin header-md3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 3rem;
  padding-bottom: 5rem;
  color: #319beb;
}

@mixin header-md2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 2.5rem;
    padding-bottom: 3rem;
    color: #fff;
  }