@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

* {
    font-family: 'Raleway', sans-serif;
}

.article-paragraph {
    max-width: 70vw;
    padding-bottom: 5rem;
    text-indent: 2rem;
    line-height: 3rem;
    letter-spacing: .5px;
}

a {
    color: $text-color;
}

a:hover {
    color: $anchor-hover-color;
    transition: .2s;
}

.heading-tiny {
    font-weight: 100;
    margin-bottom: 1rem;
}