.about {
    @include dark-mode-header;

}

.header-md3.about {
    font-size: 3rem;
    padding-bottom: 0;
    color:#319BEB;
}
.header-md3.title {
    font-size: 3rem;
    padding-bottom: 1rem;
    color:#fff;
}

.about-img {
    border-radius: 5px;
    margin: 0 auto;
}

.horizontial-line {
    margin : 1rem 0;
    color: white;
    width: 15rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
        border-radius: 5px;
        max-height: 200px;
        max-width: 100%;
        margin-bottom: 5rem;
    }
}

.audio-player {
    margin-bottom: 5rem;
}
