.home-page {
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 90vh;
    color:$text-color-lg;
    // justify-content: center;
    align-items: center;
}

.header-lg {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 5rem;
}

.header-md3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 3rem;
    padding-bottom: 5rem;
}

.img-long-road {
    height: 500px;
    border-radius: 5px;
}

.blurbs {
    border: 1px solid red;
    width: 40vw;
    font-size: 2rem;

    &-container {
        padding-top: 5rem;
    }
}
